body {background-color: #5e5c64;}

.container {
    position: relative;
}

img {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}